/* states to UI elements */
#auto24graph.FORM .description,
#auto24graph.FORM .header,
#auto24graph.BUSY .progress,
#auto24graph.BUSY .results,
#auto24graph.RESULTS .results {
	display: block;
	visibility: visible;
}

#auto24graph .description,
#auto24graph .header {
	display: none;
}

#auto24graph .progress {
	display: none;
}

#auto24graph .results {
	visibility: hidden;
}

#auto24graph .results .chart {
	margin: 10px;
	margin-bottom: 50px;
	height: 600px;
	box-shadow: 3px 3px 5px #888888;
}
button.restart {
	height: 30px;
	background-color: gray;
	color: white;
}
#auto24graph .wizard {
	margin: 50px 150px;
	text-align: center;
	padding: 30px;
	line-height: 3;
	font-size: 18px;
	background: white;
	box-shadow: 3px 3px 5px #888888;
}

#auto24graph .wizard > input {
	background-color: #CCC;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

#auto24graph .wizard > span {
	font-weight: bold;
}
